{% extends "base.html" %}
{% block content %}
<br>
<div class="container jumbotron text-center">
  <h1>Change your Verification Token</h1>
  <form class="" action="{% url 'accounts:changeverificationtoken' %}" method="post">
    {% csrf_token %}
      <label for="verificationtoken">Please enter the new Verification Token:</label>
      <input type="text" name="token" placeholder='Verification Token'>
      <input type="submit" value="Submit" onclick="return confirm('Are you sure you want to change your token?');" class="btn btn-primary">
  </form>
</div>
{% endblock %}
